@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --bg_color: #fce3f1;
    --text_color: #000000;
    --border-color: #000000;
}

html {
    background-color: var(--bg_color);
    color: var(--text_color);
    border: 3px solid var(--border-color);
    font-family: "Press Start 2P";
    border-radius: 20px;
    text-align: center;
}

a {
text-decoration: none;
color: white;
}

a > img {
  border-radius: 20px;
  width: 100px;
  height: 100px;
  border: 3px solid white;
  margin: 10px;
}

a > img:hover {
  transform: scale(1.1);
  transition: .2s;
}